/*resetear los estilos*/

*{
    margin: 0;
    padding: 0;
}

body{
/*estilo de fondo*/
background-color: #21af04ad;
opacity: 1000;
background-position:  10px 0, 10px 0, 0 0, 0 0;
background-size: 10px 10px;
background-repeat: repeat;

}


.titulo h1{
padding: 20px 0;
text-align: center;
text-transform: uppercase; 
}

.contenedor {
  
    width: 90%;
    max-width: 1000px;
    margin: 0 30%; 

    display: grid;/*organiza los elementos dentro del contendor*/
    gap: 1.6em; /*añadir un espacionado entre los contendores*/

    grid-template-columns: repeat(5,1fr);/*colocar las columnas */
}

.footer{
    grid-column: 1/6;
    color: rgba(255, 255, 255, 0.199);
    width: 30%;
    height: 50%;
}

button{
    width: 80%;
    height: 300%;
    color:black;
    background:rgba(128, 128, 128, 0.719);
    font-size: 100%;
}
.contenedor >.contenido{
    grid-column: span 3;
}

.contenido > .articulo{
    background: rgba(255, 255, 255, 0.884);
    padding: 20px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}





